    body{
    margin: 0;
    padding: 0;
    background-image: url('black-particles-background.avif'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
}
.content {
      width: 2400px;
      max-width: 200%;
      margin: 0 auto;
      padding: 40px 20px;
      background-color: rgba(12, 63, 122, 0.377); /* semi-transparent */
      min-height: 100vh;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      color: white;
      font-size: 40px;
    }
.rrr {
    font-family: 'Bitcount Prop Single';
    font-size: 2em;
    margin-top: 30px;
    color: black;
    
}
.child {
    position: absolute;
    top: 140px;
    right: 300px;
    width: 150px;
    height: 150px;
  
  }

 /* input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="file"],
select,
textarea {
  width: 300px;
  height: 35px;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black; */

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}
